<div class="navbar">
  <nav>
    <ol>
      <!--      <li>-->
      <!--        <a href="https://markdown-editor.github.io/" target="_blank"-->
      <!--          >README Online Editor</a-->
      <!--        >-->
      <!--      </li>-->
      <li (click)="redirectTo(0)">Home</li>
      <li (click)="redirectTo(1)">Zuul project</li>
      <li>
        <a
          href="https://github.com/lamyverdint/AngularTest/tree/develop"
          target="_blank"
          >Angular repository</a
        >
      </li>
      <!--      <li>-->
      <!--        <a href="https://github.com/lamyverdint/Java" target="_blank"-->
      <!--          >Java repository</a-->
      <!--        >-->
      <!--      </li>-->
    </ol>
  </nav>
</div>
