<div class="main title">
  <h1>
    <a href="/">Learning Angular</a>
  </h1>
</div>

<div class="navbar">
  <nav>
    <ul>
      <li>
        <a href="https://markdown-editor.github.io/" target="_blank">README Online Editor</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="https://github.com/lamyverdint/AngularTest/tree/develop" target="_blank">Angular repository</a>
      </li>
      <li>
        <a href="https://github.com/lamyverdint/Java" target="_blank">Java repository</a>
      </li>
    </ul>
  </nav>
</div>

<app-zuul-project></app-zuul-project>