.navbar {
  /* background-color: #e8e8e8; */
  background-color: rgb(225, 229, 233);
  overflow: hidden;
  position: sticky;
  top: 0%;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}

.navbar a {
  padding: 1rem;
}

.navbar a:hover {
  color: white;
  background-color: #333;
}
