p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: block;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.legend {
  text-align: center;
  font-size: 13px;
  margin-block-start: 3px;
  width: 100%;
}

.doc {
  background-color: rgb(225, 229, 233);
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.doc:hover {
  background-color: #333;
  color: white;
}
